<div class="row">
  <div class="col-12 text-center py-vh-5">
    <p>Ein kleines aber feines Nebenprojekt von
      <a href="https://github.com/holger1411" class="link-fancy">Holger Koenemann</a>. Entwickelt in Hannover, mit viel ❤️  und etwas Kaffee.</p>
  </div>
</div>
