<div class="row d-flex justify-content-center">
  <div class="col-12 col-xl-8 py-vh-5">
    <header>
      <h1>{{ roleName }} <small class="text-muted">(f/m/d)</small></h1>
      <h2 class="h5"><small>at</small> <b>{{ companyName }}</b></h2>
      <div class="bg-light p-3 border">

        {% if salaryRange %}
        Gehalt:
          {{ salaryRange }}
          €</br>
   {% endif %}

          Location:
            {{ cityName }}, {{ stateName }}, {{ countryName }}
            </br>
      </div>
    </header>
    {{ content | safe }}
    <a class="btn btn-dark btn-lg" a href="https://github.com/{{ githubHandle }}">Contact me via Github</a>
  </div>
</div>
