---
layout: layouts/default.njk
title: How to recommend a job?
---
<div class="py-vh-4">
  <h2>Step 1: Fork and checkout the mergerequest.dev repo</h2>
  <p class="lead">
    mergerequest.de is open source and lives on Github.com. Go to <a href="https://github.com/holger1411/mergerequest.dev" target="_blank">this repo</a> and fork it. To do that hit the small "fork" button in the upper right corner. Now check it out on your local computer.
  </p>
</div><hr/>

<div class="py-vh-4">
  <h2>Step 2: Add your job recommendation in front matter/markdown format and commit changes</h2>
  <p class="lead">
    Create a new .md file within the ./jobs folder. Use this Gist as <a href="https://gist.githubusercontent.com/holger1411/616d757f39ca1f05673b73b902da557f/raw/2fd612a715ae333f6cdfdbb16e766c320da650b5/blank-recommendation-template.md" target="_blank">template</a>. Fill in / replace all mandatory informations. You may also add some optional informations. Make sure you replaced all values with your informations or ....with nothing (< means make sure you removed all the dummy content). Now commit your changes to your fork.
  </p>
</div><hr/>

<div class="py-vh-4">
  <h2>Step 3: Open up a pull request (aka merge request)</h2>
  <p class="lead">
    Go to your fork on Github. Hit the big green "pullrequest" button and make sure you request a pull into the main branch of mergerequest.dev. Thats it. Now you have to wait a bit till I have time review your pull request. Might be that I have some questions, recommendations or need some clearification. You will also see a preview of your recommendation. Make sure everything looks good. You know the game...
  </p>
</div><hr/>

<div class="py-vh-4">
  <h2>Step 4: Tatatata! Party on, Wayne...</h2>
  <p class="lead">
    Once the request is merged your recommendation is online. If you need to change, add, remove, comment etc. something change your forked file again and open up another pull request.
  </p>
</div><hr/>

<div class="py-vh-4">
  <h2>Step 5: Hasta la vista....</h2>
  <p class="lead">
  If the role isn´t vacant anymore you can delet your recommendation by deleting the file aaaannnnnnd....open another PR. Once merged your recommendation is gone. No fear, it will have an eternal live within the Git heaven...
  </p>
</div><hr/>
