---
layout: layouts/default.njk
title: Wie empfehle ich einen Job?
---
<hr/>
<div class="bg-light p-5">
  <h3>Tl;dr</h3>
  <ul>
    <li>Forke dieses
      <a href="https://github.com/holger1411/mergerequest.dev" target="_blank">Gitbub Repo</a>
      hier.</li>
    <li>Lege im Ordner
      <code>/src/jobs</code>
      eine neue Datei mit der Dateiendung
      <code>.md</code>
      an. Nutze als Vorlage für den Inhalt
      <a href="https://github.com/holger1411/mergerequest.dev/blob/main/src/jobs/__blank" target="_blank">diese Datei</a>. Einfach copy&paste.</li>
    <li>Befülle alle mit "Mandatory" gekennzeichneten Werte. Alles andere ist optional.</li>
    <li>Committe deine Änderungen. Erstelle jetzt ein Pull Request in den "Main" Branch des Ausgangsrepos von deinem Fork aus.</li>
    <li>Jetzt heißt es abwarten und Tee trinken.</li>
    <li>Ist alles soweit okay merge ich deine Änderungen und deine Job- Empfehlung geht online.</li>
    <li>Sollte etwas fehlen, nicht stimmen etc. kommentiere ich dein PR entsprechend.</li>
  </ul>
</div>
<hr/>
<div class="row py-vh-4">
  <div class="col-12 col-lg-4">
    <h4>Schritt 1:</h4>
    <h2>Fork das mergerequest.dev repo</h2>
  </div>
  <div class="col-12 col-lg-8">
    <p class="lead">
      mergerequest.dev ist ein Open Source Projekt auf Github. Um selber Dateien (und damit auch Job- Empfehlungen) hinzufügen zu können mußt du das Projekt zunächst "forken". Also eine Kopie anlegen. Öffne dazu dieses
      <a href="https://github.com/holger1411/mergerequest.dev" target="_blank">Github Repo</a>
      und klicke oben rechts in der Ecke auf den "Fork" Button. Jetzt hast du unter deinem eigenen Account eine exakte Kopie diese Projekts angelegt.
    </p>
  </div>
</div>

<hr/>
<div class="row py-vh-4">
  <div class="col-12 col-lg-4">
    <h4>Schritt 2:</h4>
    <h2>Lege in deinem eigenen Fork eine Job- Empfehlung an</h2>
  </div>
  <div class="col-12 col-lg-8">
    <p class="lead">
      Nachdem du ein Fork angelegt hast siehst du jetzt unter deinem Github Account eine Übersicht über deine Kopie. Geh in den Ordner
      <code>src/jobs</code>
      und lege eine neue Datei an. Dies kannst du machen indem du oben rechts auf "Add file" klickst. Die Dateiänderung muß
      <code>.md</code>
      sein. Den namen kannst du frei wählen, er darf aber nur einmal vorkommen. Kopiere den Inhalt
      <a href="https://github.com/holger1411/mergerequest.dev/blob/main/src/jobs/__blank" target="_blank">diese Datei</a>
      in deine neu angelegte Datei. Das ist die Vorlage für eine Job- Empfehlung. Die datei selber besteht aus einer ganzen Reihe Key:Value Paaren. Aber keine Sorge, wirklich verpflichtend sind nur ein paar Angaben oben.
      <br/>Alles weitere kannst du leer lassen. Committe nun die neue Datei (klick auf den großen grünen "commit new file" Button unten).
    </p>
  </div>
</div>

<hr/>
<div class="row py-vh-4">
  <div class="col-12 col-lg-4">
    <h4>Schritt 3:</h4>
    <h2>Eröffne ein Pull Request (aka Merge Request) deiner Änderungen</h2>
  </div>
  <div class="col-12 col-lg-8">
    <p class="lead">
      Wenn du soweit mit deiner Job- Empfehlung zufrieden bist klicke auf das "Contribute" Dropdown Menü oberhalb von dem dAteiverzeichnis deines Forks. Klick dann auf den großen grünen "Open Pull Request" Button. Dir wird dann ein Vergleich deiner
      Änderungen in deinem Repo zu dem Ursprungs- Repo angezeigt. Du solltest also auf der linken seite nichts sehen und auf der rechten Seite deine Job- Empfehlung als .md Datei.
      <br/>
      Wenn du alles überprüft hast klicke auf den grünen "Create Pull Request" Button. Es werden jetzt einige Tests durchgeführt. Zusätzlich wird auch eine Vorschau- Version der Seite mit deiner Job- Empfehlung erstellt. Dies ist nicht die Live- Seite!
      Aber du kannst hier deinen Eintrag begutachten und schon überprüfen. Ggf. kannst du Änderungen in deinem Fork vornehmen und einen erneuten Pull Request stellen.
    </p>
  </div>
</div>

<hr/>
<div class="row py-vh-4">
  <div class="col-12 col-lg-4">
    <h4>Schritt 4:</h4>
    <h2>Deine Job- Empfehlung geht online</h2>
  </div>
  <div class="col-12 col-lg-8">
    <p class="lead">
      Wenn alle Tests durchlaufen, alle nötigen Infos vorliegen und die Vorschau gut aussieht, werde ich dinen Pull Request in den Main Branch von mergerequest.dev mergen. Je nach Wochentag und Uhrzeit kann das etwas dauern. Bitte bedenke das dies nur ein
      Open Source Projekt ist das ich neben der Arbeit und der Familie betreue. Ich versuche aber alles innerhalb von weniger als 2 Werktagen zu bearbeiten.<br/>
      Sobald ein Pull Request in den Main Branch gemerged (...man sind das viele Anglizismen) wurde, geht deine Job- Empfehlung auch wirklich live.
    </p>
  </div>
</div>

<hr/>
<div class="row py-vh-4">
  <div class="col-12 col-lg-4">
    <h4>Schritt 5:</h4>
    <h2>Änderungen? Stelle besetzt? Rechtschreibfehler entdeckt?</h2>
  </div>
  <div class="col-12 col-lg-8">
    <p class="lead">
      Möchtest du deine Job- Empfehlung offline schalten, oder andere Änderungen an deinem Inhalt vornehmen, tu dies in deinem Fork. Lösche also z.B. deine Datei, oder nimm Änderungen an den Inhalten vor. Dann eröffne erneut einen Pull Request (Siehe Schritt 3). Auch hier kann es etwas dauern, aber
      sobald ich dein Request gemerged hab, sind die Änderungen online. Auch kannst du selbstverständlich nach dem gleichen Muster weitere Job- Empfehlungen veröffentlichen.
    </p>
  </div>
</div>
