---
layout: layouts/zebra.njk
title: WTF is this all about?
---
<div class="row">
  <div class="col-12 col-xl-6 py-5 pe-5 bg-light">
    <h2>Du bist Entwickler:in und suchst einen neuen Job?</h2>
    <hr/>
    <p class="lead">Hast du dich jemals gefragt wie es wohl wäre bei einer anderen Firma zu arbeiten? Vielleicht in einer anderen Rolle? Vielleicht gibt es da draussen ja irgendwo dein Traum-Job? Du hast es dann aber gelassen weil, hey, dein Job ist schon ganz "okayish"... Es könnte ja schlechter werden, dass kann man ja nie wissen, oder?</p>
    <p>Denn Headhunter und HR Abteilungen werden dir nicht die Fragen beantworten können, oder wollen, die für dich wirklich wichtig sind: Wie gut sind die Vorgesetzten? Wie sieht es WIRKLICH mit der Home Office Regel aus? Wie steht es WIRKLICH mit Diversität und Gleichstellung? Windows, oder auch WIRKLICH Mac oder Linux möglich? Wie werden WIRKLICH Überstunden gehandhabt? Kirk oder Picard? Und so weiter und so weiter...</p>
    <p>Eigentlich wäre es ja ideal wenn du direkten Kontakt zu potentiellen zukünftigen Kollegen hättest. Anderen Entwicklern die deine Sprache sprechen aber furchtbar schlecht im "HR Bullshite Bingo" sind. Leute die dir ehrlich Rede und Antwort stehen. Menschen deren einzigste Motivation es ist nette und fähige Mitarbeiter:innen zu finden. Entwickler die von ihrer Arbeit, ihrem Team und ihrer Firma so sehr überzeugt sind, dass sie diese in der Öffentlichkeit empfehlen würden...</p>
    <p>Eigentlich? Nein, tatsächlich! Denn genau hierfür gibt es <b>mergerequest.dev</b>.<br/> Eine Job- Empfehlungsplattform von Entwicklern für Entwickler.</p>
  </div>
  <div class="col-12 col-xl-6 py-5 ps-5 bg-white ">
    <h2>Du bist Entwickler:in und suchst eine/einen Kollegen?</h2>
    <hr/>
    <p class="lead">Du liebst deine Arbeit, dein Team, deine Firma und die Atmosphäre die bei euch herrscht? Du würdest jederzeit Freunden, Bekannten und Verwandten einen Job bei euch empfehlen?
    </p>

    <p>Ihr sucht aktiv Software- oder Webentwickler (Frontend, Backend, DevOps, Full Stack, egal...), findet aber kaum geeignete Kandidaten auf dem leergefischten Arbeitsmarkt? Empfehle persönlich anderen Entwicklern die offenen Stellen in deiner Firma und helf somit beiden weiter.</p>
    <p>Eine Empfehlung einzureichen ist genauso einfach wie einen Pull Request (aka Merge Request) zu erstellen. Genaugenommen: Es IST das einreichen eines PR´s...<br/><b>mergerequest.dev</b> ist ein <a href="https://github.com/holger1411/mergerequest.dev" target="_blank">Open Source Projekt das auf Github</a> lebt. Eine Job- Empfehlung ist nichts weiter als eine "config" Datei die du mit deinen Angaben befüllen mußt. Weitere Details findest du <a href="{{ '/recommend' | url }}">hier</a>.</p>
  </div>
</div>
