---
layout: layouts/default.njk
title: WTF is this all about?
---
<div class="py-vh-4">
  <h2>Okay, can you explain to me what this website is all about?</h2>
  <p class="lead">
    <strong>mergerequest.dev</strong>
    is a job recommendation platform where developers recommend open positions in there company, department or team to other developers.
  </p>
</div><hr/>
<div class="py-vh-4">
  <h2>How I can recommend a job?</h2>
  <p class="lead">
    To recommend a job you just need some basic Git knowledge. This website is open source and its source code lives
    <a href="https://github.com/holger1411/mergerequest.dev" target="_blank">over there at Github</a>. Fork this project and add a new .md file to the /jobs folder.
    <br/>
    You can use this Gist as
    <a href="https://gist.githubusercontent.com/holger1411/616d757f39ca1f05673b73b902da557f/raw/2fd612a715ae333f6cdfdbb16e766c320da650b5/blank-recommendation-template.md" target="_blank">template</a>.
    <br/>File in any mandatory infos and any optional info you want to add. Than open up a pull request into the main branch. Once merged your recommendation will appear online.<br/>
    If you need more detailed instructions read on
    <a href="{{ '/recommend' | url }}">here</a>.
  </p>
</div><hr/>
<div class="py-vh-4">
  <h2>But what are the pros for me as a job seeker?</h2>
  <p class="lead">
    <ul>
      <li><span class="fw-bolder">High quality of recommendations</span> - Imagine you work in a company. When would you recommend an open role in your team openly, backed up with your developer accounts like Gihub.com, your social media profiles and open DM´s? Right, only if you are deeply convinced that the job, the role, the company and your team is really cool. That means you will only find high quality recommendations here.</li>
      <li><span class="fw-bolder">Bypass the HR BS - Part 1</span> - You can get in contact directly with team members and possible future coworkers. You can ask all the questions a HR department or a headhunter couldn´t or wouldn´t answere. You can bypass the marketing BS and can get the detailes without a month long process upfront. Than you can decide if it is worth to put in the work to get the job</li>
      <li><span class="fw-bolder">Bypass the HR BS - Part 2</span> - You can only recommend a job via a fork and pullrequest of the <a href="https://github.com/holger1411/mergerequest.dev" target="_blank">mergerequest.dev repo</a> on GitHub. 99% of all headhunters and HR people can´t do that, while 99% of all professional developers can do that. So it will exclude nearly any HR</li>
      <li>You can grow your professional network.</li>
      <li><span class="fw-bolder">A foot on the ground</span> - If developers recommend jobs in there company and came in touch with you, there is a high chance that they will recommend you to there comapny as well.</li>

    </ul>
  </p>
</div><hr/>
